{% extends '../base.html' %}

{% block content %}
<body>
    <header>
      <nav>
      </nav>
    </header>
    <main>
      <div>
        <h1>Create a New List</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
      </div>
    </main>
</body>
{% endblock %}