{% extends '../base.html' %}

{% block content %}
<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div>
        <h1>{{ todolistdetail.name }}</h1>
        <p><a href="{% url 'todo_list_update' todolistdetail.id %}">Edit</a></p>
        <p><a href="{% url 'todo_list_delete' todolistdetail.id %}">Delete</a></p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
              {% for item in todolistdetail.items.all %}
                <tr>
                  <td><a href="{% url 'todo_list_update' item.pk %}">{{ item.task }}</a></td>
                  <td>{{ item.due_date }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </main>
</body>

{% endblock %}