{% extends '../base.html' %}

{% block content %}
<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div>
      <h1>Update Item</h1>
      <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Update</button>
    </div>
  </main>
</body>

{% endblock %}